.content-container {
  display: flex; /* Enables Flexbox */
  flex-direction: row;
  justify-content: center; /* Centers items vertically */
  align-items: center; /* Centers items horizontally */
  height: 100vh;
}

@media (min-width: 930px) {
  .main-content {
    width: 70%;
    height: 100%;
    position: absolute;
    margin-left: 0%;
  }
}

@media (max-width: 930px) {
  .main-content {
    width: 90%;
    height: 100%;
    position: absolute;
    margin-left: 10%;
  }
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

h1 {
  color: #fff;
  font-size: 56px;
  line-height: 53px;
  margin: 0;
  font-family: 'Bauhaus';
  font-weight: 400;
  letter-spacing: 1px;
}

.text-zone {
  position: absolute;
  font-family: 'Trebuchet MS';
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  @media (min-width: 930px) {
    width: 60%;
  }
  @media (max-width: 930px) {
    width: 90%;
  }

  max-height: 90%;
}
