.main-content {
  width: 70%;
  height: 100%;
  position: absolute;
  margin-left: 30%;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}

h1 {
  color: #fff;
  font-size: 56px;
  line-height: 53px;
  margin: 0;
  font-family: 'Coolvetica';
  font-weight: 400;
  letter-spacing: 1px;
}

.text-zone {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  max-height: 90%;
}
