.contact-page {
  .form {
    font-size: 20px;
    margin-top: 10px;

    .form-label {
      padding-right: 10px;
    }

    .form-input {
      background-color: #4d4646;
      border: #7fcd91 solid 2px;
      font-size: 20px;
    }
  }
}
